<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<style>

    .signuptag{
        text-decoration: none;
    }

    .signuptag:hover{
        text-decoration: underline;
    }

</style>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2 class="mb-4">LOGIN PAGE</h2>

                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username:</label>
                        <input type="text" class="form-control bg-secondary text-light" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Password:</label>
                        <input type="password" class="form-control bg-secondary text-light" name="password" id="exampleInputEmail1">
                    </div>
                    <p class="text-danger fw-bold">{{error}}</p>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <br>
                    <br>
                    <p >Don't have an account? <a class="signuptag" href="/signup/">Sign Up</a></p>                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>